body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #A83338;
}

.logo img {
    height: 20px;
}

.user-icons i {
    margin-left: 20px;
    padding: 20px;
    cursor: pointer;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: #f2f2f2;
    padding: 10px 0;
    margin: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    width: 500%;
    animation: slide 25s infinite;
}

.carousel-item {
    width: 20%;
}

.carousel-item img {
    width: 100%;
}

@keyframes slide {
    0% { transform: translateX(0); }
    20% { transform: translateX(0); }
    25% { transform: translateX(-20%); }
    45% { transform: translateX(-20%); }
    50% { transform: translateX(-40%); }
    70% { transform: translateX(-40%); }
    75% { transform: translateX(-60%); }
    95% { transform: translateX(-60%); }
    100% { transform: translateX(-80%); }
}


@media (min-width: 992px) {
    #slider {
        height: 400px; 
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    #slider {
        height: 300px; 
    }
}


@media (max-width: 767px) {
    #slider {
        height: 200px;
    }

    .navigation label {
        width: 8px;
        height: 8px;
    }
}


